{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-4 mx-auto">
        {% if error %}
            <div class="alert alert-danger">
                {{ error.messageKey | trans(error.messageData,'security') }}
            </div>
        {% endif %}
        <div class="cold md-4">
            <div class="card mb-4  mx-auto">
                <div class="card-body ">
                    <h1>Connexion</h1>

                    <form action=" {{ path('security_login') }}" method="post">

                        <div class="row mb-4">
                            <div class="col-md-4 ">
                                <div class="form_group mb-4">
                                    <input placeholder="Adresse email" required name="_username" type="text" class="form-control" value="{{ lastUsername }}">
                                </div>
                                <div class="form_group mb-4">
                                    <input placeholder="Mot de passe" required name="_password" type="password" class="form-control">
                                </div>

                                <div class="form_group">
                                    <button type="submit" class="btn btn-success">Connexion</button>
                                </div>
                            </div>

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>




{% endblock %}