{% extends 'base.html.twig' %}

{% block body %}

    <div align="center" class="container">

        {% if error %}
            <div class="alert alert-danger">
                {{ error.messageKey | trans(error.messageData,'security') }}
            </div>
        {% endif %}

            <div  style="width: 700px" class="card mb-4  mx-5 mt-4 py-2" >
                <div align="center" class="card-title">
                    <h1>Connexion</h1>
                </div>
                <div class="card-body mb-4" align="center">

                    <form action=" {{ path('security_login') }}" method="post">

                        <div class="row-cols-1 " align="center">
                            <div class="col-8" align="center">
                                <div class="form_group mb-4" >
                                    <input placeholder="Adresse email" required name="_username" type="text" class="form-control" value="{{ lastUsername }}">
                                </div>
                                <div class="form_group mb-4">
                                    <input placeholder="Mot de passe" required name="_password" type="password" class="form-control">
                                </div>
                                <div class="form_group mb-4">
                                    <input type="hidden" name="_csrf_token"
                                           value="{{ csrf_token('authenticate') }}"
                                    >
                                </div>
                                <div class="form_group">
                                    <button type="submit" class="btn btn-success">Connexion</button>
                                </div>
                            </div>

                        </div>

                    </form>
                </div>
            </div>



    </div>




{% endblock %}