

.card footer, nav
{
    background-image: linear-gradient(#3d2e24, #252525);

    /* Obligatoire si on veut "voir" le dégradé */
    width: auto;
    height: auto;

}
#card{
    position: relative;
    top: 20%;

    text-align: center;
    height:auto;
    width: auto;
    background-color: rgba(0,0,0,0.6);


}

.footer-copyright{
    background-color: black;
    width: auto;
    height: auto;
}

p, h5{
    color: #87724c;
}

p, h5{
    text-align: center;
}




.sidebarre{
    background-color: #d98933;
    width: auto;
    height: 5px;
}

.alert-danger{
    background-color: #d98933;

}