.card-text {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    text-align: justify;
    font-size: 18px;
    color: #87724c;
}



.button {
    text-align: right;
}
h2{
    color: black;
}