

.rose{
    color: #FFA84A;
}

.view{
    text-align: justify;
    font-size: 23px;
    color: #87724c;
    font-family: 'Quicksand', sans-serif;
}




.button {
    text-align: right;
}
h2{
    color: black;
}