{% extends 'base.html.twig' %}

{% block title %}Hello MailerController!{% endblock %}

{% block body %}
    <h1>Bonjour {{ user.name }}</h1>
    <h4>Nous avions bien reçu votre demande de devis</h4>
    <p>L'artisan est entrain de revoir votre demande et reviendra si peu vers vous avec le devis</p>

{% endblock %}
